#imagingtext img {
    margin: 20px;
}

.container2 {
    margin: 0px 15px;

}

#bayo,
#ireti {
    width: 350px;

}

.customerreview {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

#imagingreviews {
    display: none;
}


@media (min-width: 390px) and (max-width: 424px) {

    #bayo,
    #ireti {
        width: 380px;
    }

    .customerreview {
        font-size: 25px;
        font-weight: 700;
        margin: 10px;
    }
}


@media (min-width: 481px) and (max-width: 768px) {

    #bayo,
    #ireti {
        width: 530px;
    }

    .customerreview {
        font-size: 33px;
        font-weight: 700;
        margin: 20px;
        font-family: 'Roboto', sans-serif;
    }

    #imagingreviews {
        display: none;
    }


}

@media (min-width: 769px) and (max-width: 1023px) {

    /* #maincard3,
    #maincard2,
    #maincard1 {
        position: relative;
        margin: 0px 20px;
        width: 390px;
    } */

    /* #cardp3,
    #cardp2,
    #cardp1 {
        position: relative;
        bottom: 13rem;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        color: white;
        width: 70%;
        left: 5rem;
        text-align: center;
    } */

    /* #quotation3,
    #quotation2,
    #quotation1 {
        position: relative;
        bottom: 13rem;
        left: 2rem;
        z-index: 1;
        color: black;
    } */

    /* #photoid3,
    #photoid2,
    #photoid1 {
        position: relative;
        left: 4.5rem;
        width: 60px;
        bottom: 7.5rem;
        z-index: 1;

    } */

    #bayo,
    #ireti {
        width: 580px;
    }

    .customerreview {
        font-size: 35px;
        font-weight: 700;
        margin: 20px;
        font-family: 'Roboto', sans-serif;
    }

}