.foots {
    background-color: rgb(255, 255, 255);
    position: relative;
}

.ourfoot {
    margin: 10px 20px;
    position: relative;
}

#legal p,
#company p,
#contact p,
#learn p,
#products p {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid rgb(122, 116, 116);
}

#legal a,
#company a,
#contact a,
#learn a,
#products a {
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(75, 4, 156);
}

.socialmedia {
    display: flex;
    gap: 2rem;
}

#learn {
    display: none;
}

#products {
    display: none;
}

#copyright {
    background: linear-gradient(rgb(11, 11, 73), rgb(34, 3, 63));
    position: relative;
}

#copycat {
    width: 80%;
    color: black;
    margin-left: 30px;

}

#reserved {
    font-size: 13px;
    color: white;
    font-weight: 600;
    position: relative;
    /* left: 1rem; */
    top: 0.5rem;
    text-align: center;

}

@media (min-width: 481px) and (max-width: 768px) {

    #legal p,
    #company p,
    #contact p,
    #learn p,
    #products p {
        font-size: 27px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;

    }

    #legal a,
    #company a,
    #contact a,
    #learn a,
    #products a {
        font-size: 23px;
        font-weight: 400;
        text-decoration: none;
    }

    #reserved {
        font-size: 19px;
        color: white;
        font-weight: 600;
        position: relative;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        height: 100%;

    }




}
@media (min-width: 769px) and (max-width: 1024px){

}