.foots {
    background-color: rgb(255, 255, 255);
    position: relative;
}

.ourfoot {
    margin: 10px 20px;
    position: relative;
}

#legal p,
#company p,
#contact p,
#learn p,
#products p {
    font-size: 13px;
    font-weight: 700;
    border-bottom: 1px solid rgb(122, 116, 116);
}

#legal a,
#company a,
#contact a,
#learn a,
#products a {
    font-size: 10px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(75, 4, 156);
}

.socialmedia {
    display: flex;
    gap: 2rem;
}

#learn {
    display: none;
}

#products {
    display: none;
}

#copyright {
    position: relative;
    background-color: #F2F2F2;
}

#reserved {
    font-size: 10px;
    color: black;
    position: relative;
    /* left: 1rem; */
    top: 0.5rem;
    text-align: center;

}
.gotop{
    position: relative;
    bottom: 5rem;
    align-items: flex-end;
    text-align: right;
}
.gotopping{
    color: blueviolet;
    font-size: 20px;
}

@media (min-width: 481px) and (max-width: 768px) {

    #legal p,
    #company p,
    #contact p,
    #learn p,
    #products p {
        font-size: 15px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;

    }

    #legal a,
    #company a,
    #contact a,
    #learn a,
    #products a {
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
    }

    #reserved {
        font-size: 12px;
        position: relative;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        height: 100%;

    }
    




}
@media screen and  (min-width: 769px) {
    #legal p,
    #company p,
    #contact p,
    #learn p,
    #products p {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        border: none;
        

    }

    #legal a,
    #company a,
    #contact a,
    #learn a,
    #products a {
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
    }
    #products {
        display: block;
 
    }
    /* #learn {
        display: block;
    } */
    .ourfoot {
        margin: 20px 20px;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        width: 100%;

        
    }
    #reserved {
        font-size: 13px;
        position: relative;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        height: 100%;

    }
    

}
@media screen and (min-width: 900px){
    #legal p,
    #company p,
    #contact p,
    #learn p,
    #products p {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        border: none;
        

    }

    #legal a,
    #company a,
    #contact a,
    #learn a,
    #products a {
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
    }
    #products {
        display: block;
 
    }
    /* #learn {
        display: block;
    } */
    .ourfoot {
        margin: 20px 20px;
        display: flex;
        flex-direction: row;
        gap: 4rem;
        width: 100%;

        
    }
    #reserved {
        font-size: 14px;
        position: relative;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        height: 100%;

    }
    

    
}
@media screen and (min-width: 1200px){
    #legal p,
    #company p,
    #contact p,
    #learn p,
    #products p {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        border: none;
        

    }

    #legal a,
    #company a,
    #contact a,
    #learn a,
    #products a {
        font-size: 13px;
        font-weight: 400;
        text-decoration: none;
    }
    #products {
        display: block;
 
    }
    #learn {
        display: block;
    }
    .ourfoot {
        margin: 20px 20px;
        display: flex;
        flex-direction: row;
        gap: 4.5rem;
        width: 100%;
        position: relative;
        left: 4rem;

        
    }
    #reserved {
        font-size: 15px;
        position: relative;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        height: 100%;

    }
    

    
}
@media screen and (min-width: 1289px){
    #legal p,
    #company p,
    #contact p,
    #learn p,
    #products p {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        border: none;
        

    }

    #legal a,
    #company a,
    #contact a,
    #learn a,
    #products a {
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
    }
    #products {
        display: block;
 
    }
    #learn {
        display: block;
    }
    .ourfoot {
        margin: 20px 30px;
        display: flex;
        flex-direction: row;
        gap: 5rem;
        width: 100%;
        position: relative;
        left: 3rem;


        
    }
    #reserved {
        font-size: 15px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        height: 100%;

    }
    

}