* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.fortabdesktop {
    display: none;
}

.contaminated {
    display: none;
}

.headercontainer {
    background: linear-gradient(#7C20BE, #1b012c);
    color: white;
    height: 100%;
    position: relative;
    overflow-y: hidden;
}

.header-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

.easy {
    font-size: 12px;
    width: 80%;
    font-weight: 400;
}

.buy {
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;

}

.getstarted {
    width: 40%;
    padding: 7px 7px;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    opacity: 1;
    background-color: white;
}

.getstarted:hover {
    background-color: rgb(155, 141, 141);
    color: rgb(7, 7, 75);
}

.headerapp {
    display: flex;
    flex-direction: row;
    width: 320px;
    margin-top: 30px;
    gap: 0.5rem;
    margin-bottom: 10px;

}

.header-image img {
    position: absolute;
    top: 3rem;
    left: 6rem;
    width: 400px;
    opacity: 0.32;
    overflow-y: hidden;

}

@media (min-width: 390px) and (max-width: 424px) {
    .easy {
        font-size: 15px;
        width: 80%;
    }

    .buy {
        font-size: 23px;
        font-weight: 600;
    }

    .header-image img {
        top: 4rem;
        left: 7rem;
        width: 400px;
    }

}

@media (min-width: 425px) and (max-width: 480px) {
    .easy {
        font-size: 15px;
        width: 80%;
    }

    .buy {
        font-size: 23px;
        font-weight: 600;
    }


    .header-image img {
        position: absolute;
        top: 3rem;
        left: 6rem;
        width: 400px;
        opacity: 0.32;
        overflow-y: hidden;

    }


}

@media screen and  (min-width: 481px)  {
    .easy {
        font-size: 15px;
        width: 40%;
        font-weight: 300;
        margin: 20px 0px;
    }

    .header-text {
        color: white;
        font-family: 'Roboto', sans-serif;
        z-index: 1;
        margin: 0px 25px;
    }

    .buy {
        font-size: 33px;
        font-weight: 700;
        margin-top: 90px;
    }

    .getstarted {
        width: 20rem;
        padding: 10px 10px;
        border: none;
        font-size: 18px;
        z-index: 1;
        margin: 30px 0px;
    }

    .headerapp {
        display: flex;
        flex-direction: row;
        width: 20rem;
        margin-top: 30px;
        gap: 1rem;
        margin-bottom: 50px;

    }

       .header-image img {
        position: absolute;
        top: 5rem;
        left: 12rem;
        width: 650px;
        overflow-y: hidden;

    }

    .contaminated {
        display: inline;
    }

    .jayjayok {
        display: none;
    }

}
@media (min-width: 681px){
    .header-image img {
        top: 5rem;
        left: 16rem;
        width: 650px;
        

    }

}
@media (min-width: 741px){
    .header-image img {
        top: 5rem;
        left: 20rem;
        width: 650px;
        

    }

}
@media (min-width: 801px){
    .header-image img {
        top: 5rem;
        left: 24rem;
        width: 650px;
        

    }

}
@media (min-width: 865px){
    .header-image img {
        top: 5rem;
        left: 28rem;
        width: 650px;
        

    }

}
@media (min-width: 1080px){
    .header-image img {
        top: 5rem;
        left: 28rem;
        width: 650px;
        

    }

}



@media (min-width: 1195px){
    .easy {
        font-size: 15px;
        width: 47%;
        font-weight: 300;
        margin: 20px 0px;
    }

    .header-text {
        color: white;
        font-family: 'Roboto', sans-serif;
        z-index: 1;
        margin: 0px 25px;
    }

    .buy {
        font-size: 40px;
        font-weight: 700;
        margin-top: 90px;
    }

    .getstarted {
        width: 20rem;
        padding: 10px 10px;
        border: none;
        font-size: 18px;
        z-index: 1;
        margin: 30px 0px;
    }

    .headerapp {
        display: flex;
        flex-direction: row;
        width: 20rem;
        margin-top: 30px;
        gap: 1rem;
        margin-bottom: 50px;

    }

    .header-image img {
        position: absolute;
        top: 5rem;
        width: 800px;
        overflow-y: hidden;

    }
    .textandimages{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5rem;
    }

    .contaminated {
        display: inline;
    }

    .jayjayok {
        display: none;
    }

}
@media (min-width: 1240px){
    .header-image img {
        position: absolute;
        top: 5rem;
        width: 800px;
        left: 29rem;
        overflow-y: hidden;

    }

}
@media (min-width: 1240px){
    .header-image img {
        position: absolute;
        top: 5rem;
        width: 800px;
        left: 30rem;
        overflow-y: hidden;

    }

}
@media screen and  (min-width: 1440px){
    .easy {
        font-size: 18px;
        width: 37%;
        font-weight: 300;
        margin: 20px 0px;
    }

    .header-text {
        color: white;
        font-family: 'Roboto', sans-serif;
        z-index: 1;
        margin: 0px 25px;
    }

    .buy {
        font-size: 50px;
        font-weight: 700;
        margin-top: 100px;
    }
    .getstarted {
        width: 20rem;
        padding: 10px 10px;
        border: none;
        font-size: 18px;
        z-index: 1;
        margin: 30px 0px;
        color: #7C20BE;
        padding: 20px 0px;
    }

    .headerapp {
        display: flex;
        flex-direction: row;
        width: 20rem;
        margin-top: 30px;
        gap: 1rem;
        margin-bottom: 50px;
        padding: 10px 0px;

    }

    .header-image img {
        position: absolute;
        top: 5rem;
        width: 1000px;
        margin: auto;
        display: flex;
        justify-content: right;
        text-align: right;
        justify-content: flex-end;
        overflow-y: hidden;

    }
    .textandimages{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10rem;
    }

    .contaminated {
        display: inline;
    }

    .jayjayok {
        display: none;
    }

}
@media (min-width: 1600px){
    .header-image img {
        position: absolute;
        top: 5rem;
        width: 1000px;
        margin: auto;
        display: flex;
        justify-content: right;
        text-align: right;
        justify-content: flex-end;
        overflow-y: hidden;
        margin-left: 5%;

    }

}