* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.fortabdesktop {
    display: none;
}

.contaminated {
    display: none;
}

.headercontainer {
    background: linear-gradient(#7C20BE, #1b012c);
    color: white;
    height: 100%;
    position: relative;
    overflow-y: hidden;
}

.header-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

.easy {
    font-size: 12px;
    width: 80%;
    font-weight: 400;
}

.buy {
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;

}

.getstarted {
    width: 15rem;
    padding: 7px 7px;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    opacity: 1;
    background-color: white;
}

.getstarted:hover {
    background-color: rgb(155, 141, 141);
    color: rgb(7, 7, 75);
}

.headerapp {
    display: flex;
    flex-direction: row;
    width: 15rem;
    margin-top: 30px;
    gap: 0.5rem;
    margin-bottom: 10px;

}


@media (min-width: 390px) and (max-width: 424px) {
    .easy {
        font-size: 15px;
        width: 80%;
    }

    .buy {
        font-size: 23px;
        font-weight: 600;
    }
}

@media (min-width: 425px) and (max-width: 480px) {
    .easy {
        font-size: 15px;
        width: 80%;
    }

    .buy {
        font-size: 23px;
        font-weight: 600;
    }



}
.headers01-images01{
    display: flex;
    width: 400px;
    position: absolute;
    top: 4rem;
    right: 0rem;
    justify-content: right;
    opacity: 0.24;

}

@media screen and  (min-width: 481px)  {
    .easy {
        font-size: 15px;
        width: 40%;
        font-weight: 300;
        margin: 20px 0px;
    }

    .header-text {
        color: white;
        font-family: 'Roboto', sans-serif;
        z-index: 1;
        width: 95%;
        margin: auto;
    }

    .buy {
        font-size: 33px;
        font-weight: 700;
        margin-top: 90px;
    }

    .getstarted {
        width: 20rem;
        padding: 10px 10px;
        border: none;
        font-size: 18px;
        z-index: 1;
        margin: 30px 0px;
    }

    .headerapp {
        display: flex;
        flex-direction: row;
        width: 20rem;
        margin-top: 30px;
        gap: 1rem;
        margin-bottom: 50px;

    }


    .contaminated {
        display: inline;
    }

    .jayjayok {
        display: none;
    }
    .headers-images{
        display: flex;
        text-align: right;
        justify-content: right;
        opacity: 0.28;
       
    }
    .contenter-images {
        position: absolute;
        top: 3rem;
        width: 1000px;
    }

}

@media screen and (min-width: 577px){
    .easy {
        font-size: 15px;
        width: 47%;
        font-weight: 300;
        margin: 20px 0px;
    }

    .header-text {
        color: white;
        font-family: 'Roboto', sans-serif;
        z-index: 1;
        margin-top: 4rem;
        margin-left: 25px;
        margin-bottom: 9rem;
    }

    .buy {
        font-size: 40px;
        font-weight: 700;
        margin-top: 90px;
    }

    .getstarted {
        width: 20rem;
        padding: 10px 10px;
        border: none;
        font-size: 18px;
        z-index: 1;
        margin: 30px 0px;
    }

    .headerapp {
        display: flex;
        flex-direction: row;
        width: 20rem;
        margin-top: 30px;
        gap: 1rem;
        margin-bottom: 80px;

    }

    .contaminated {
        display: inline;
    }

    .jayjayok {
        display: none;
    }

}


@media screen and  (min-width: 1440px){
    .easy {
        font-size: 18px;
        width: 37%;
        font-weight: 300;
        margin: 20px 0px;
    }

    .header-text {
        color: white;
        font-family: 'Roboto', sans-serif;
        z-index: 1;
        margin-top: 4rem;
        margin-bottom: 9rem;
        margin-left: 25px;
    }


    .buy {
        font-size: 50px;
        font-weight: 700;
        margin-top: 100px;
    }
    .getstarted {
        width: 20rem;
        padding: 10px 10px;
        border: none;
        font-size: 18px;
        z-index: 1;
        margin: 30px 0px;
        color: #7C20BE;
        padding: 20px 0px;
    }

    .headerapp {
        display: flex;
        flex-direction: row;
        width: 20rem;
        margin-top: 30px;
        gap: 1rem;
        margin-bottom: 50px;
        padding: 10px 0px;

    }

    .contaminated {
        display: inline;
    }

    .jayjayok {
        display: none;
    }

}