* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.wall {
    background-color: #F2F2F2;
    height: 100%;

}



.reasonsgallery1 {
    display: none;
}

.reasons {
    margin: 20px 0px;
    font-size: 13px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.firstp {
    font-size: 12px;
    width: 100%;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.words {
    font-size: 10px;
    width: 100%;
    font-weight: 500;
    text-align: center;
    align-items: center;
    font-family: 'Inter', sans-serif;

}

.easymode,
.investment,
.finacial {
    width: 100px;

}

.gallery {
    background-color: white;
    border: 1px solid black;
    margin: 30px 0px;
    border: none;
    padding: 3px 20px;
}

.gallery-2 {
    background-color: white;
    border: 1px solid black;
    margin: 30px 0px;
    border: none;
    text-align: right;
    padding: 5px 20px;
    


}

.btn-learnmore {
    width: 50%;
    border: 1px solid black;
    color: black;
    margin-top: 10px;
    position: absolute;
    left: 90px;
    font-size: 10px;
    padding: 5px;
    display: none;


}

.simplesteps {
    margin-top: 60px;
    width: 100%;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

#numberthree,
#numberone {
    width: 15px;
    position: absolute;
    top: 3px;
}

.sellcryptop,
.freeaccountp {
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    left: 2rem;
    top: 0px;
    font-family: 'Roboto', sans-serif;
}

.buyorsellsmall,
.freesmall {
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    left: 2rem;
    top: 1.5rem;
    width: 50%;
    font-family: 'Inter', sans-serif;
}

.learnmoreimage3,
.learnmoreimage1 {
    width: 80px;
    position: relative;
    left: 12rem;
    top: 0px;
}


#numbertwo {
    width: 15px;
    position: absolute;
    top: 4px;
    left: 6rem;
}

.depositp {
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    left: 8rem;
    top: 0px;
}


.depositsmall {
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    left: 8rem;
    top: 1.5rem;
    width: 50%;
}

.learnmoreimage2 {
    width: 120px;
    position: relative;
    left: -1rem;
    top: 0px;
}

.seen {
    text-align: center;
}

.less-btn {
    position: relative;
    background-color: #F2F2F2;
    border: 1px solid #7C20BE;
    width: 50%;
    font-size: 12px;
    padding: 4px;
}

.less-btn:hover {
    background-color: #7C20BE;
    color: white;
    border: none;
}

#creatings {
    height: 100%;
}

#container1 {
    margin: 20px 0px;
}

.createafreeaccount,
.depositing,
.buyorsellcrypto {
    padding-top: 20px;
    position: relative;
    padding-bottom: 70px;
}

.stepscontent {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media screen and (min-width: 356px) {
    .reasons {
        font-size: 13px;
    }

    .firstp {
        font-size: 13px;

    }

    .words {
        font-size: 10px;
    }

    .easymode,
    .investment,
    .finacial {
        width: 100px;
        margin-top: 5px;
    }

    .simplesteps {
        font-size: 13px;
        margin: 40px 0px;

    }


    .depositp,
    .sellcryptop,
    .freeaccountp {
        font-size: 13px;
        top: 0px;
    }

    .buyorsellsmall,
    .depositsmall,
    .freesmall {
        font-size: 10px;
        font-weight: 500;
        top: 1.6rem;
    }

    .learnmoreimage3,
    .learnmoreimage1 {
        left: 16rem;
    }

    .depositsmall,
    .depositp {
        left: 10rem;
    }
    #numbertwo {
        left: 8rem;
    }
    


}

/* @media screen and (min-width: 425) {
    .reasons {
        font-size: 14px;
    }

    .firstp {
        font-size: 14px;

    }

    .words {
        font-size: 12px;
        width: 80%;
        position: relative;
        left: 2rem;
    }

    .easymode,
    .investment,
    .finacial {
        width: 120px;
        margin-top: 10px;
    }

    .simplesteps {
        font-size: 14px;
        margin: 50px 0px;

    }

    .depositp,
    .sellcryptop,
    .freeaccountp {
        font-size: 13px;
        top: 0px;

    }

    .buyorsellsmall,
    .depositsmall,
    .freesmall {
        font-size: 10px;
        font-weight: 500;
        top: 1.8rem;
        width: 60%;
    }

    .learnmoreimage3,
    .learnmoreimage1 {
        left: 23rem;
        top: 2rem;
    }

    .createafreeaccount,
    .depositing,
    .buyorsellcrypto {
        padding-bottom: 80px;
        padding-top: 20px;
        position: relative;
        height: 100%;
    }

    .learnmoreimage2 {
        width: 150px;
        position: relative;
        left: 0rem;
        top: 1rem;
    }
} */


@media screen and  (min-width: 481px){
     
    .learnmoreimage2{
        display: flex;
        position: relative;
        top: -1rem;
        left: -1rem;
    }
    .depositing,
    .buyorsellcrypto, 
    .createafreeaccount{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        

    }
    .learnmoreimage3,
    .learnmoreimage1 {
        width: 100px;
        display: flex;
        position: relative;
        top: -1rem;
        left: 80%;
    }
    .buyorsellsmall,
    .depositsmall,
    .freesmall{
        width: 50%  ;
    }

}
@media screen and  (min-width: 600px) {

    .reasons {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    .firstp {
        font-size: 15px;

    }

    .words {
        font-size: 13px;
        width: 80%;
        position: relative;
        left: 2rem;
    }

    .easymode,
    .investment,
    .finacial {
        width: 120px;
        margin-top: 10px;
    }

    .simplesteps {
        font-size: 16px;
        margin: 60px 0px;

    }
    .depositp,
    .depositsmall{
        left: 50%;
    }
    #numbertwo {
        left: 45%;
    }

    .depositp,
    .sellcryptop,
    .freeaccountp {
        font-size: 14px;
        top: 0px;
    }

    .buyorsellsmall,
    .depositsmall,
    .freesmall {
        font-size: 12px;
        font-weight: 500;
        top: 1.5rem;
        width: 50%;
    }

    .learnmoreimage3,
    .learnmoreimage1 {
        width: 130px;
        display: flex;
        position: relative;
        top: -1rem;
        left: 80%;
    }


    .createafreeaccount,
    .depositing,
    .buyorsellcrypto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .learnmoreimage2 {
        width: 170px;
        position: relative;
        left: -2rem;
        top: -1rem;
    }
}

@media screen and  (min-width:768px) {
    .reasons {
        font-size: 18px;

    }

    .firstp {
        font-size: 17px;

    }

    .words {
        font-size: 15px;
        width: 70%;
        left: 5rem;
        position: relative;
    }

    .easymode,
    .investment,
    .finacial {
        width: 150px;
        margin-top: 20px;
    }

    .simplesteps {
        font-size: 18px;
        margin: 60px 0px;

    }

    .freeaccountp,
    .sellcryptop {
        left: 4rem;
    }

    .depositp,
    .sellcryptop,
    .freeaccountp {
        font-size: 16px;
        top: 0px;
    }

    .buyorsellsmall,
    .freesmall {
        left: 4rem;
    }

    .depositsmall,
    .depositp {
        left: 14rem;
    }

    .buyorsellsmall,
    .depositsmall,
    .freesmall {
        font-size: 14px;
        font-weight: 500;
        top: 1.5rem;
        width: 50%;

    }

    .learnmoreimage3,
    .learnmoreimage1 {
        width: 130px;
        display: flex;
        position: relative;
        top: -1rem;
        left: 80%;
    }


    .createafreeaccount,
    .depositing,
    .buyorsellcrypto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .learnmoreimage2 {
        display: flex;
        justify-content: left;
        left: -2rem;
        top: -1rem;
        width: 180px;
    }
    .depositp,
    .depositsmall{
        left: 50%;
    }

    #numbertwo,
    #numberthree,
    #numberone {
        width: 25px;
    }

    #numbertwo {
        left: 42%;
    }
}

@media screen and  (min-width: 992){
    .reasons {
        font-size: 21px;
        text-align: center;

    }

    .firstp {
        font-size: 22px;
        position: relative;
        bottom: 4rem;
    }

    .words {
        font-size: 18px;
        width: 50%;
        left: 13rem;
        position: relative;
        bottom: 4rem;
    }

    .easymode,
    .investment,
    .finacial {
        width: 250px;
        padding: 20px;
    }

    .simplesteps {
        font-size: 23px;
        margin: 70px 0px;
    }

    .less-btn {
        font-size: 18px;
    }

    .sellcryptop,
    .freeaccountp {
        font-size: 23px;
        top: 4px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        position: absolute;
        left: 5rem;
    }

    .buyorsellsmall,
    .freesmall {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        left: 5rem;
        width: 60%;
        top: 3.5rem;
    }

    .depositsmall {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        width: 60%;
    }
    .learnmoreimage3,
    .learnmoreimage1 {
        width: 200px;
        display: flex;
        position: relative;
        top: -1rem;
        left: 80%;
    }

    .createafreeaccount,
    .depositing,
    .buyorsellcrypto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .learnmoreimage2 {
        display: flex;
        justify-content: left;
    }

    .learnmoreimage2 {
        width: 250px;
        position: relative;
        padding-bottom: 30px;
    }

    .depositp,
    .depositsmall {
        position: absolute;
        left: 19rem;

    }

    .depositsmall {
        top: 60px;
        width: 60%;
    }

    .depositp {
        font-size: 23px;
        top: 3px;
    }

    #numberthree,
    #numberone {
        width: 30px;

    }

    #numbertwo {
        width: 30px;
        position: absolute;
        left: 14rem;
    }
}

@media screen and (min-width: 1024px) {

    .mains {
        margin: 2rem;
    }

    .see-btn,
    .submains {
        display: none;
    }

    .reasons {
        font-size: 23px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    .reasonsgallery1{
        display: flex;
        gap: 2rem;
        margin: 5rem 0rem;
        height: 100%;
    }

    .gallery1{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 6rem 0rem;
        width: 100%;  
        background-color: #ffffff;
        border-radius: 10px;
        
    }
    #sub-gallery{
        display: flex;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }


    .finacial1, 
    .easymode1{
        margin-bottom: 1rem;
    }
    .investment1{
        margin-bottom: 0.5rem;
    }

    .firstp1 {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        width: 100%;
        margin: 1.5rem 0rem;

    }

    .words1 {
        display: flex;
        font-size: 16px;
        width: 87%;
        margin: auto;
        color: #26093A;
    }

    .learningeveryday {
        text-align: center;
        position: relative;
        right: 5rem;
    }

    .btn-learnmore {
        align-items: center;
        place-content: center;
        display: inline;
        width: 15rem;
        border: 1px solid black;
        color: black;
        font-size: 13px;
        height: 2.2rem;
        position: relative;
        margin-top: 10px;
        justify-content: center;


    }

    .simplesteps {
        font-size: 29px;
        margin: 70px 0px;
    }


    #numberone,
    #numberthree {
        width: 30px;
        top: 0.4rem;
    }

    #numbertwo {
        width: 30px;
        top: 0.4rem;
        left: 42%;
    }

    .freeaccountp,
    .sellcryptop {
        font-size: 24px;
        left: 5rem;


    }

    .freesmall,
    .buyorsellsmall {
        font-size: 18.5px;
        width: 60%;
        left: 5rem;
        top: 3rem;

    }
    .learnmoreimage3,
    .learnmoreimage1 {
        width: 200px;
        display: flex;
        position: relative;
        top: -1.5rem;
        left: 80%;
    }
    .createafreeaccount,
    .depositing,
    .buyorsellcrypto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .learnmoreimage2 {
        display: flex;
        justify-content: left;
        width: 230px;
        top: -2rem;
    }


    .depositp {
        font-size: 24px;
        left: 27rem;
    }

    .depositsmall {
        font-size: 18.5px;
        left: 27rem;
        top: 3rem;
        width: 50%;
    }

    .createafreeaccount,
    .depositing,
    .buyorsellcrypto {
        padding: 60px 10px;
    }



}

@media screen and (min-width: 1231px) {

    .mains {
        margin: 30px 30px;
    }

    .see-btn,
    .submains {
        display: none;
    }

    .reasons {
        font-size: 25px;
        text-align: center;
    }

    /* .reasonsgallery1 {
        display: flex;
        gap: 1.5rem;
        text-align: center;
        margin: 30px 20px;

    }

    .gallery,
    .gallery-2 {
        width: 100%;
        padding: 50px 10px;
    }

    .investment {
        width: 140px;
        position: relative;
        margin: 30px;
        align-items: center;


    }

    .easymode {
        width: 187px;
        position: relative;
        margin: 30px;
        align-items: center;

    }

    .finacial {
        width: 140px;
        position: relative;
        margin: 30px;
        right: 2.5rem;
        align-items: center;

    }

    .firstp {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;

    }


    .words {
        font-size: 12px;
        text-align: center;
    } */

    .learningeveryday {
        text-align: center;
        position: relative;
        right: 5rem;


    }

    .btn-learnmore {
        align-items: center;
        place-content: center;
        display: inline;
        width: 20rem;
        border: 1px solid black;
        color: black;
        font-size: 16px;
        height: 3.5rem;
        position: relative;
        margin-top: 10px;
        justify-content: center;



    }

    .simplesteps {
        font-size: 38px;
        margin: 80px 0px;
        font-weight: bold;
    }


    #numberone,
    #numberthree {
        width: 30px;
        top: 0.6rem;
    }

    #numbertwo {
        width: 30px;
        top: 0.6rem;
        left: 22rem;
    }

    .freeaccountp,
    .sellcryptop {
        font-size: 24px;
        left: 5rem;


    }

    .freesmall,
    .buyorsellsmall {
        font-size: 16px;
        width: 55%;
        left: 5rem;
        top: 3rem;

    }
    .learnmoreimage3,
    .learnmoreimage1 {
        width: 220px;
        display: flex;
        position: relative;
        top: -1rem;
        left: 80%;
    }

    .createafreeaccount,
    .depositing,
    .buyorsellcrypto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .learnmoreimage2 {
        display: flex;
        justify-content: left;
    }

    /* .learnmoreimage2 {
        width: 290px;
        left: 0rem;
        top: -5rem;
    } */

    .depositp {
        font-size: 24px;
        left: 27rem;
    }

    .depositsmall {
        font-size: 16px;
        left: 27rem;
        top: 3rem;
        width: 60%;
    }

    .createafreeaccount,
    .depositing,
    .buyorsellcrypto {
        padding: 60px 10px;
    }



}