* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;

}


.navcontainer {
    display: flex;
    justify-content: space-between;


}

.tabonly {
    display: none;
}

.links {
    color: white;

}

#bttn {
    border: 1px solid white;
    padding: 5px 30px;
    color: white;
    width: 50%;
    z-index: 2;

}

#bttt {
    padding: 5px 20px;
    color: #7C20BE;
    width: 50%;
    z-index: 1;
}

#bttn:hover,
#bttt:hover {
    background-color: rgb(155, 141, 141);
    color: rgb(7, 7, 75);

}

#basic-navbar-nav {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;


}

#btts {
    color: white;
    display: flex;
}




@media (min-width: 481px) and (max-width: 576px) {

    #bttn {
        border: 2px solid white;
        padding: 15px 35px;
        color: white;
        width: 60%;
    }

    #bttt {
        padding: 15px 35px;
        color: #7C20BE;
        width: 60%;
        z-index: 1;
    }

    #basic-navbar-nav {
        font-size: 13px;
    }
}

@media screen and  (min-width: 577px){
    .tabonly {
        display: flex;
        flex-direction: row;
        z-index: 1;      
    }
    #tabitha{
        display: flex;
        flex-direction: row;
        width: 100%;

    }
    .tablecomp{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 0px 25px;
    }


    .mdefault {
        display: none;
    }

    .burgresss {
        margin-top: 1rem;
    }

    #bttns {
        border: 2px solid white;
        color: white;
        z-index: 1;
        width: 7rem;
        height: 2.3rem;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        display: flex;
        text-align: center;
        justify-content: center;
        cursor: pointer;
    }


    #bttss,
    #bttsso {
        color: white;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: center;
        align-items: center;
        cursor: pointer;

    }

    #bttts {
        color: #7C20BE;
        z-index: 1;
        width: 8rem;
        height: 2.3rem;
        margin-left: 7px;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        display: flex;
        text-align: center;
        justify-content: center;
        cursor: pointer;

    }

    #bttns:hover,
    #bttts:hover {
        background-color: rgb(155, 141, 141);
        color: rgb(7, 7, 75);
    }



    #bttso {
        color: white;
        display: flex;
        font-size: 13px;
        width: 100px;
        cursor: pointer;
    }
    #bttts,
    #bttsso{
        display: none;
    }

    .lontor {
        display: flex;
        gap: 0.1rem;
        /* height: 2.3rem; */
        position: relative;

    }

    .sublontor1 {
        display: flex;
        gap: 1.5rem;
    }

    .sublontor2 {
        display:flex;
        gap: 0.5rem;
    }

}




@media screen and  (min-width: 768px){
    .tabonly {
        display: flex;
        flex-direction: row;
        z-index: 1;      
    }
    #tabitha{
        display: flex;
        flex-direction: row;
        width: 100%;

    }
    .tablecomp{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 0px 25px;
    }


    .mdefault {
        display: none;
    }

    .burgresss {
        margin-top: 1rem;
    }

    #bttns {
        border: 2px solid white;
        color: white;
        z-index: 1;
        width: 7rem;
        height: 2.3rem;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        display: flex;
        text-align: center;
        justify-content: center;
        cursor: pointer;
    }

    #bttss,
    #bttsso {
        color: white;
        z-index: 1;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        align-items: center;
        cursor: pointer;

    }

    #bttts {
        color: #7C20BE;
        z-index: 1;
        width: 8rem;
        height: 2.3rem;
        margin-left: 7px;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        display: flex;
        text-align: center;
        justify-content: center;
        cursor: pointer;

    }

    #bttns:hover,
    #bttts:hover {
        background-color: rgb(155, 141, 141);
        color: rgb(7, 7, 75);
    }

    #bttsso{
        display: flex;
    }

    .lontor {
        display: flex;
        gap: 0.1rem;
        /* height: 2.3rem; */
        /* position: relative; */

    }

    .sublontor1 {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 1.5rem;
    }

    .sublontor2 {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
    #bttts{
        display: none;
    }

}

@media screen and  (min-width: 1024px){
    .tabonly {
        display: flex;
        flex-direction: row;
        z-index: 1;      
    }
    #tabitha{
        display: flex;
        flex-direction: row;
        width: 100%;

    }
    .tablecomp{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 0px 25px;
    }


    .mdefault {
        display: none;
    }

    .burgresss {
        display: flex;
        text-align: center;
        align-items: center;
        margin-top: 1rem;
    }

    #bttns {
        border: 2px solid white;
        color: white;
        z-index: 1;
        width: 7rem;
        height: 2.3rem;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        display: flex;
        text-align: center;
        justify-content: center;
        cursor: pointer;
    }

    #bttss,
    #bttsso {
        color: white;
        z-index: 1;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        align-items: center;
        cursor: pointer;

    }

    #bttts {
        color: #7C20BE;
        z-index: 1;
        width: 8rem;
        height: 2.3rem;
        margin-left: 7px;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        display: flex;
        text-align: center;
        justify-content: center;
        cursor: pointer;

    }

    #bttns:hover,
    #bttts:hover {
        background-color: rgb(155, 141, 141);
        color: rgb(7, 7, 75);
    }



    #bttso {
        color: white;
        display: flex;
        font-size: 13px;
        /* width: 100px; */
        cursor: pointer;
    }
    #bttsso{
        display: flex;
    }

    .lontor {
        display: flex;
        gap: 0.1rem;
        height: 100%;
        position: relative;

    }

    .sublontor1 {
        display: flex;
        gap: 1rem;
    }

    .sublontor2 {
        display:flex;
        gap: 0.1rem;
    }

}

