* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;

}

.container1 {
    margin: 20px;
}

.navcontainer {
    display: flex;
    justify-content: space-between;


}

.tabonly {
    display: none;
}

.links {
    color: white;

}

#bttn {
    border: 1px solid white;
    padding: 5px 30px;
    color: white;
    width: 50%;
    z-index: 2;

}

#bttt {
    padding: 5px 20px;
    color: blue;
    width: 50%;
    z-index: 1;
}

#bttn:hover,
#bttt:hover {
    background-color: rgb(155, 141, 141);
    color: rgb(7, 7, 75);
    border: 1px solid rgb(155, 141, 141);
}

#basic-navbar-nav {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;


}

#btts {
    color: white;
    display: flex;
}


@media (min-width: 481px) and (max-width: 799px) {

    #bttn {
        border: 2px solid white;
        padding: 15px 35px;
        color: white;
        width: 60%;
    }

    #bttt {
        padding: 15px 35px;
        color: blue;
        width: 60%;
        z-index: 1;
    }

    #basic-navbar-nav {
        font-size: 25px;
    }
}

@media (min-width:769px) and (max-width:883px) {
    .tabonly {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 20px;
        position: relative;
    }
    .mdefault{
        display: none;
    }

    .burgess {
        margin-left: 3rem;
        margin-top: 1rem;
        display: flex;
    }

    #bttns {
        border: 2px solid white;
        color: white;
        z-index: 1;
        padding: 5px 30px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: center;
        cursor: pointer;

    } 

    #bttss,
    #bttsso {
        color: white;
        z-index: 1;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: center;
        cursor: pointer;

    }

    #bttts {
        color: blue;
        z-index: 1;
        padding: 5px 20px;
        margin-left: 7px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: center;
        cursor: pointer;

    }

    #bttns:hover,
    #bttts:hover {
        background-color: rgb(155, 141, 141);
        color: rgb(7, 7, 75);
        border: 2px solid rgb(155, 141, 141);
    }



    #bttso {
        color: white;
        display: flex;
        font-size: 20px;
        width: 100px;
        margin: 5px;
        cursor: pointer;


    }
    .tradoimage img{
        width: 200px;
    }
}

@media (min-width:884px) and (max-width:1023px) {

    .tabonly {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 20px;
        position: relative;
    }

    .mdefault {
        display: none;
    }

    .burgess {
        margin-left: 15rem;
        display: flex;
    }

    #bttns {
        border: 2px solid white;
        color: white;
        z-index: 1;
        padding: 5px 30px;

    }

    #bttss,
    #bttsso {
        color: white;
        z-index: 1;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: center;

    }

    #bttts {
        color: blue;
        z-index: 1;
        padding: 5px 20px;
        margin-left: 7px;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: center;

    }

    #bttns:hover,
    #bttts:hover {
        background-color: rgb(155, 141, 141);
        color: rgb(7, 7, 75);
        border: 2px solid rgb(155, 141, 141);
    }



    #bttso {
        color: white;
        display: flex;
        font-size: 30px;
        width: 100px;
        margin: 5px;
        /* padding: 30px; */


    }






}

@media (min-width:1024px) and (max-width:1440px) {

    .tabonly {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 20px;
        position: relative;
    }

    .mdefault {
        display: none;
    }

    .burgess {
        margin-left: 10rem;
        display: flex;
    }

    #bttns {
        border: 2px solid white;
        color: white;
        z-index: 1;
        padding: 5px 30px;

    }

    #bttss,
    #bttsso {
        color: white;
        z-index: 1;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: center;

    }

    #bttts {
        color: blue;
        z-index: 1;
        padding: 5px 20px;
        margin-left: 7px;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: center;

    }

    #bttns:hover,
    #bttts:hover {
        background-color: rgb(155, 141, 141);
        color: rgb(7, 7, 75);
        border: 2px solid rgb(155, 141, 141);
    }



    #bttso {
        color: white;
        display: flex;
        font-size: 30px;
        width: 100px;
        margin: 5px;
        /* padding: 30px; */


    }






}