* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;

}

.rendering,
.rendernew {
    background-color: #ede5f3;

}

.rendernew {
    margin: 7px;
}

.itsloading1{

    background-image: linear-gradient(to bottom right, rgb(#dacee4), rgb(#ede5f3));
    border-bottom: 1px solid #887499;
}

.loading {
    text-align: center;
    color: rgb(7, 0, 0);
}

.renderold {
    display: none;
}

#datums {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    font-family: 'Inter', sans-serif;



}

.symbol {
    font-size: 17px;
    font-weight: 700;

}

.price-usd {
    font-size: 14px;
    font-weight: bold;


}

#chng {
    font-size: 13px;
    color: blueviolet;
}

.hours24 {
    font-size: 13px;
}

.rendering {
    background-color: white;
}
@media screen and (min-width:481px){
    .itsloading1{
        display: none;
    }

    
}


@media screen and (max-width: 480px) {
    .symbol {
        font-size: 13px;
        border-bottom: 1px solid gray;


    }
}

@media screen and  (min-width: 481px){
    .symbol {
        font-size: 13px;


    }

    .price-usd {
        font-size: 12px;


    }

    #chng {
        font-size: 11px;
    }

    .hours24 {
        font-size: 11px;
        position: relative;
        right: 0.5rem;

    }

    .sub-coin {
        position: relative;
        text-align: right;
        bottom: 0.2rem;


    }

    .rendernew {
        display: none;

    }

    .renderold {
        display: flex;
        flex-direction: row;
        font-family: 'Inter', sans-serif;
        text-align: left;
        position: relative;
        width: 100%;

    }

    .rendering {
        margin: 0px 10px;

    }

    .coin {
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 1rem;

    }

    .dating {
        border-right: 1px solid rgb(201, 189, 189);
        margin: 10px 0px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .symbol {
        font-size: 23px;
        /* font-weight: bold; */


    }

    .loading {
        font-size: 25px;
        margin-top: 20px;
    }

    .price-usd {
        font-size: 18px;


    }

    #chng {
        font-size: 17px;
    }

    .hours24 {
        font-size: 17px;
        position: relative;
        right: 0.5rem;

    }

    .sub-coin {
        position: relative;
        text-align: right;
        bottom: 0.2rem;


    }

    .rendernew {
        display: none;

    }

    .renderold {
        display: flex;
        flex-direction: row;
        font-family: 'Inter', sans-serif;
        text-align: left;
        gap: 1rem;
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    .rendering {
        margin: 0px 10px;

    }

    .coin {
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 2rem;
    }

    .dating {
        border-right: 1px solid rgb(201, 189, 189);
    }

    .itsloading2{
        height: 15vh;
    }


}

@media (min-width: 1024px) and (max-width: 1439px) {
    .symbol {
        font-size: 16px;
        /* font-weight: bold; */


    }

    .loading {
        font-size: 25px;
        margin-top: 20px;
    }

    .price-usd {
        font-size: 13px;


    }

    #chng {
        font-size: 13px;
    }

    .hours24 {
        font-size: 13px;
        position: relative;
        right: 0.5rem;

    }

    .sub-coin {
        position: relative;
        text-align: right;
        bottom: 0.2rem;


    }

    .rendernew {
        display: none;

    }

    .renderold {
        display: flex;
        flex-direction: row;
        font-family: 'Inter', sans-serif;
        text-align: left;
        gap: 1rem;
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    .rendering {
        background-color: white;
        margin: 0px 10px;

    }

    .coin {
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 2rem;
    }

    .dating {
        border-right: 1px solid rgb(201, 189, 189);
    }

    .itsloading {
        height: 15vh;
    }

}
@media screen and  (min-width: 1440px){
    .symbol {
        font-size: 16px;
        /* font-weight: bold; */


    }

    .loading {
        font-size: 25px;
        margin-top: 20px;
    }

    .price-usd {
        font-size: 13px;


    }

    #chng {
        font-size: 13px;
    }

    .hours24 {
        font-size: 13px;
        position: relative;
        right: 0.5rem;

    }

    .sub-coin {
        position: relative;
        text-align: right;
        bottom: 0.2rem;


    }

    .rendernew {
        display: none;

    }

    .renderold {
        display: flex;
        flex-direction: row;
        font-family: 'Inter', sans-serif;
        text-align: left;
        gap: 1rem;
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    .rendering {
        background-color: white;
        margin: 0px 20px;

    }

    .coin {
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 2rem;
    }

    .dating {
        border-right: 1px solid rgb(201, 189, 189);
    }

    .itsloading {
        height: 15vh;
    }

}