*{ 
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    
}
.rendering,
.rendernew{
    background-color: #ede5f3;

}
.rendernew{
    margin: 7px;
}
.itsloading{
    margin: 10px;
    

}
.loading{ 
    text-align: center;
    color: blueviolet;
}
.renderold{
    display: none;
}
#datums{
    display: flex;
    flex-direction: column;  
    margin: 10px 10px ;
    font-family:'Inter', sans-serif;
    

    
}
.tk-blob{
    width: 50px;
}
.symbol{
    font-size: 17px;
    font-weight: 700;

}
.price-usd{
    font-size: 14px;
    font-weight: bold;
    

}
#chng{
    font-size: 13px;
    color: blueviolet;
}
.hours24{
    font-size: 13px;
} 



@media (min-width: 481px) and (max-width: 768px){
    .symbol{
        font-size: 30px;
        /* font-weight: bold; */

    
    }
    .price-usd{
        font-size: 25px;

    
    }
    #chng{
        font-size: 23px;
    }
    .hours24{
        font-size: 23px;
        position: relative;
        right: 0.5rem;

    }   
    .sub-coin{
        position: relative;
       text-align: right;
       bottom: 0.2rem;
       
       
    }
  
    .rendernew{
        display: none;
       
    }
    .renderold{
        display: flex;
        flex-direction: row;  
        font-family:'Inter', sans-serif;
        text-align: left;
        gap: 1rem;
        justify-content: space-between;
        border-bottom: 1px solid gray;
        position: relative;  
        width: 100%;  
    }
    .rendering{
        margin: 0px 20px;
        background-color: #ede5f3;
    }
    .coin{
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 2rem;
    }
    .dating{
        border-right: 1px solid rgb(201, 189, 189);
    }
}

